@CHARSET "UTF-8";
.footer{
    background-color: #101010;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color : #fff;
    margin-top:30px;
}

/* 必須マーク */
.required-mark {
	position: relative;
	top: -0.2em;
	left: 0;
	line-height: 1;
	padding: 0.25em 0.375em;
	border-radius: 2px;
	color: #FFF;
	font-weight: normal;
	font-size: 62.5%;
	background-color: #C00;
}

/* ヘッダーロゴ */
.header-logo-padding {
	padding-top : 7px;
}

.header-logo-size {
	width : 180px;
	height : 38px;
}
/* ヘッダーロゴ */

.black-background {
  background-color:#000000;
}
.white {
  color:#ffffff;
}

.margin-left10{
  margin-left:10px;
}

.not-allowed{
	cursor: not-allowed;
}

.disabled{
  background-color: #73879C !important;
  color: #fff !important;
  pointer-events: none;
}

textarea#comment{
  resize: none;
}
